
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    margin:0;
    padding: 0;
    height: 700px;
    background: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font-family: 'Pangolin', cursive;
  }
  form {
    text-align: center;
    margin-top: 25px;
}
    form select {        
        height: 35px;
        font-size: 16px;
        border: none;
        border-radius: 2px;
    }
    form input {
        height: 35px;
        text-align: center;
        font-size: 16px;
        border-radius: 2px;
    }
.div-main{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
  
#btnIniciar {
  width: 200px;
  height: 50px;
  background-color: rgba(243, 133, 247, 0.9);
  font-size: 1em;
  border-radius: 8px;
}

  #memory-board {
    width:1200px;
    height:520px;
    padding: 40px 0;
    margin:0px auto;
  }
  
  .card {
    display:inline-block;
    perspective:300px; transform-style:preserve-3d;
  
    position:relative;
  }
  
  .card.turned {pointer-events:none;}
  
  .card.turned .front {transform:rotateY(0deg);}
  .card.turned .back {transform:rotateY(180deg)}
  
  .card .back,
  .card .front {
    width:80px;
    height:120px;
    margin:10px;
    padding:20px;
    font-size:64px;
    
    transition:transform .6s;
    border-radius: 8px;
    }
  
  .card .back {
    background-color: rgba(243, 133, 247, 0.9);
    background: url(../img/background.jpg) no-repeat;
    background-position: center top;
    background-size: 100% 100%;
  }
  
  .card .front {
    position:absolute;
    left:0;top:0;
    transform:rotateY(-180deg) translateZ(1px); backface-visibility:hidden;
  }
  
  .clock {
    background-color: rgba(243, 133, 247, 0.9);
    border-radius: 8px;
    font-size: 25px; 
    margin: auto;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .numbers {
    text-align: center;
  }
  
  .container {
    position: relative;
  }
  
  h1 {
    color: rgba(243, 133, 247, 0.9);
    font-weight: bolder;
    font-size: 67px;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(150, 150, 150, 1);
    font-family: 'Pangolin', cursive;
  
  }
  
  h2 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    text-shadow: 1px rgba(243, 133, 247, 0.9);
    text-shadow: 1px rgba(243, 133, 247, 0.9);
    font-family: 'Pangolin', cursive;
  }
  
  p {
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
  }
  
  .btnReiniciar {
    margin: auto;
    padding: auto;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background:linear-gradient(to bottom, #ff5bb0 5%, #f580be 100%);
    background-color:#ff5bb0;
    border-radius:6px;
    border:1px solid #e02db0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: 'Pangolin', cursive;
    font-size:30px;
    font-weight:bold;
    padding:13px 63px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
  }
  .btnReiniciar:hover {
    background:linear-gradient(to bottom, #f580be 5%, #ff5bb0 100%);
    background-color:#f580be;
  }
  .btnReiniciar:active {
    position:relative;
    top:1px;
  }
  
  .div-fail{
    font-family: 'Pangolin', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 600px) {
html{
      width: 1400px;
      height: 2400px;
    }

body{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% 100%;
      height: 1200px;
      width: 100%;
    }

#memory-board{
      height: 800px;
    }

.clock{
      width: 400px;
      height: 200px;
      margin-top: 200px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

.clock h2 {
  font-size: 50px;
}

.numbers{
  font-size: 40px;
}

.card .back,
.card .front {
    width:80px;
    height:120px;
    margin:10px;
    padding:40px;
    font-size:64px;
    }
.div-fail{
    margin-top: 150px;
    }

.div-fail h1{
     font-size: 80px;
}

.btnReiniciar {
  margin-top: 150px;
  font-size:50px;
    }

}